body {
    background: #f1f1f1 url("../images/login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(7, 156, 85, 0.57);
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 60px 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}

@media (max-width: 450px) {
    .form {
        width: 255px;
    }
}

.form input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    color: #fff;
}

.form .group {
    margin: 25px 0 40px 0;
}

.form .group .bar:before, .form .group .bar:after {
    background: #ffffff;
}

.form label {
    text-align: right;
    font-weight: 200;
}

.form .text-danger {
    text-align: right;
    margin-top: 5px;
}

.form button.btn {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    color: #079c55;
    border-radius: 25px;
    margin: 20px 0 10px 0;
    transition: all .5s ease;
}

.form button:hover, .form button:focus {
    border-color: #ffffff;
    background-color: transparent;
    color: #fff;
}

.form label {
    color: #fff;
}

.form input:focus ~ label, .form input:valid ~ label {
    color: #fff;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.map-padlock {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 500rem;
}


.map-padlock:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.code {
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    padding: 0 0 5px 0;
}

.code:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.code:hover:before,
.code:focus:before,
.code:active:before {
    left: 0;
    right: 0;
}

.alert-danger {
    background-color: transparent;
    border: none;
    padding: 5px 0 0 0;
    color: #ff6c80;
    margin: 0;
    text-align: right;
}

.form .form-control:focus {
    border-color: rgb(0, 121, 64);
}